@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model EvlampochkaWEB.Models.Item

@{
    ViewData["Title"] = "Details";
    ViewBag.Comment = "";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <hr>
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <div class="item-gallery"> <img src="@Model.ItemImage" width="430"> </div>
                <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">@Model.ItemName</h3>

                    <dl class="item-property">
                        <dt><i class="fa fa-paperclip"></i>@localizer["Theme"]</dt>
                        <dd>@Model.Collection.Theme</dd>
                    </dl>
                    <dl class="item-property">
                        <dt><i class="fa fa-calendar"></i>@localizer["Created"]</dt>
                        <dd>@Model.CreationTime</dd>
                    </dl>

                    @if (ViewBag.Fields[0] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[0]</dt>
                        <dd>@Model.AddStringField0</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[1] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[1]</dt>
                        <dd>@Model.AddStringField1</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[2] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[2]</dt>
                        <dd>@Model.AddStringField2</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[3] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[3]</dt>
                        <dd>@Model.AddDateTimeField0</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[4] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[4]</dt>
                        <dd>@Model.AddDateTimeField1</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[5] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[5]</dt>
                        <dd>@Model.AddDateTimeField2</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[6] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[6]</dt>
                        <dd>@Html.DisplayFor(Model => Model.AddBoolField0)</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[7] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[7]</dt>
                        <dd>@Html.DisplayFor(Model => Model.AddBoolField1)</dd>
                    </dl>
                    }
                    @if (ViewBag.Fields[8] != null)
                    {
                    <dl class="param param-feature">
                        <dt>@ViewBag.Fields[8]</dt>
                        <dd>@Html.DisplayFor(Model => Model.AddBoolField2)</dd>
                    </dl>
                    }
                    @foreach (var tag in ViewBag.TagsList)
                    {
                    <a><i class="fa fa-tag"></i> @tag</a>
                    }




                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div>
</div>

<div>
    @await Html.PartialAsync("Likes", new Like { ItemID = Model.ItemId })
</div>
<div>
    @await Html.PartialAsync("Comments", Model.Comments)
    @await Html.PartialAsync("AddComment", new Comment { ItemID = Model.ItemId })
</div>
<div>
    @if (ViewBag.isRealUser)
    {
    <a asp-controller="Items" asp-action="Edit" asp-route-id="@Model.ItemId">@localizer["Edit"]</a>

    }
    else
    {
<a asp-controller="Items" asp-action="Index" asp-route-id="@Model.Collection.CollectionId">@localizer["Back"]</a>
    }

</div>