@page
@model RegisterConfirmationModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            @localizer["Info"] <a id="confirm-link" href="@Model.EmailConfirmationUrl"> @localizer["Click"]</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
